@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --sombra-gris:rgba(0, 0, 0, 0.3);
    --color-negro: #000; 
    --color-blanco: #FFFFFF;
    --color-azul: #144deb;
    --color-gris: #808080;
    --color-grisSuave: #bcbcbc;
    --color-menu-fondo: #0d6efd;
}

.container{
     justify-content: center;
     width: 100%;
     height: 100vh;
     padding: 10px;
     margin: 0 auto;
     text-align: center;
     font-family: "Stack Sans Text", sans-serif;
}


.titulo-login{
    margin-top: 120px;
}

.carta{
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 0 8px 20px var(--sombra-gris);
    height: 600px;
    width: 400px;
    
}

.carta__titulo{
    padding: 14px;
    
}


.entrada_datos_login{
    text-align: left;
    padding: 20px;
}



.entrada_datos_login-nombre_de_documento{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}


.entrada_datos_login-tipo_de_documento{
    width: 100%;
    height: 30px;
}

.divider{
    margin: 15px auto;
    background-color: var(--sombra-gris);
    height: 1px;
    width: 90%;
}


.texto_de_apoyo{
    font-size: 15px;
    display: block;
    margin: 0 auto;
    width: 300px;
    color: var(--sombra-gris);
}


.menuNavegacion{
    width: 100%;
    text-align: center;
    
    
}

.menuNavegacion__Lista{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: var(--color-blanco);
    border-radius: 25px;
    min-width: 20%;
    max-width: 30%;
    gap: 20px;
    margin: 30px auto;
    height: 40px;
    background-color: var(--color-menu-fondo);
}

.menuNavegacion__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70%;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    
    
}

.menuNavegacion__item--menuSeleccionado{
    background-color: var(--color-blanco);
       color: var(--color-azul);
}


.menuNavegacion__item:hover{
       background-color: var(--color-blanco);
       color: var(--color-azul);
       cursor: pointer;
}

.menuNavegacion__item--submenu{
    font-size: 16px;
    width: 180px;
}



.menuNavegacion ul{
    padding: 0;
    
}

.menuNavegacion--submenu{
    display: none;
}

.titulo-formato{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.cabecero{
    display: flex;
    justify-content: space-around;
    gap: 40%;
    box-shadow: 0px 2px 10px var(--color-gris);
    height: 105px;
}
.InfoUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoUsuario__imagenEmpresa{
    width: 190px;
}

.Cuenta{
    display: flex;
    
    align-items: center;
    gap: 10px;
}

.Cuenta__imagen{
    width: 60px;
} 


.Cuenta__Divisor{
    height: 40px;
    border: 1px solid var(--color-negro);
    background-color: var(--color-negro);

}


.titulo-formato__tutorial{
    font-weight: bold;
}


.creacionNuevoTicket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 300px;
    margin: 60px auto;
    box-shadow: 0px 2px 10px var(--color-gris);
    border-radius: 15px;
    

}

.creacionNuevoTicket:hover{
    cursor: pointer;
}

.creacionNuevoTicket__imagen{
  width: 80px;
}

.creacionNuevoTicket__parrafo{
    margin-top: 20px;
    font-size: 15px;
    color: var(--color-menu-fondo);
}

.menuTickets{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px); 
    z-index: 9999; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.menuContenido{
    background-color: var(--color-blanco);
    width: 50%;
    height: 70%;
    position: relative;
    border-radius: 20px;
    overflow-y: auto;
}

.menuContenido__Salirse{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 60px;
    cursor: pointer;
}

.formatosCuadricula{
    display: flex;
    margin: 0 auto;
    width: 700px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.cuadriculaFormato{
    border: 1px solid var(--color-grisSuave);
    width: 250px;
    height: 120px;
    padding: 10px;
    box-shadow: 0px 2px 10px var(--color-gris);
}

.cuadriculaFormato--modificiacion{
    border:  1px solid var(--color-grisSuave) ;
}

.menuContenido__Titulo{
    margin-top: 15px;
    margin-left: 20px;
}

.menuContenido__Descripcion{
    margin-left: 25px;
}

.cuadriculaFormato{
    border-radius: 10px;
    cursor: pointer;
    
}

.cuadriculaFormato__titulo{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 12px;
}



.cuadriculaFormato__imagen{
    width: 30px;
}


.formatoFormulario{
    position: absolute;
    left: 0;
    right: 40px;
    
}


.formatoContenido{
    display: none;
}


.entradaFormato{
    width: 100%;
    display: block;
    margin-top: 40px;
    padding-left: 40px;
    margin-bottom: 40px;
}

.entradaFormato__titulo{
    display: block;
    padding-bottom: 10px;
    font-weight: bold;
    width: 90%;
}

.entradaFormato__entrada{
    width: 90%;
    height: 30px;
}

.entradaFormato__entrada--textArea{
    height: 50px;
    resize: none;
}

.entradaFormato__entrada--firmaCanvas{
    height: 140px;
    border: 1px solid var(--color-negro);
    
}

.firmaCanvas--disabled {
    pointer-events: none;   /* no mouse / touch */
    opacity: 0.5;           /* se ve desactivado */
    background-color: #f2f2f2;
}

.btn-primary{
    margin: 30px auto;
    width: 200px;
    display: block;
}

.btn-primary--firma{
    margin: 30px 10px;
    display: inline;
}

.botonesFirma{
    display: flex;
}

.btn-primary--firmaDevolucion{
    margin: 10px 10px;
}


.entradaFormato__entrada--areas{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px solid;
}

.entradaFormato--flex{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.entradaFormato__titulo--flex{
    width: 240px;
}

.entradaFormato__entrada--flex{
    width: 400px;
}

.botonesFlex{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}


.texto_solicitud{
    margin-left: 40px;
}


.seccion--firma{
    width: 100%;
}

.seccion--area{
    width: 90%;
}

.seccion--area > select{
    width: 100%;
}


fieldset[disabled] canvas{
    pointer-events: none;
    opacity: 0.6;
}

.ticketVista{
    margin: 50px auto;
    width: 80%;
    height: 280px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px var(--color-gris);
}

.datosVistaContenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.datosVistaTicket__boton{
    width: 60px;
    height: 60px;
    margin-left: 30px;
    background-color: white;
    border: none;
}

.datosVistaTicket__imagen{
    width: 60px;
    height: 60px;
}


.menuContenido__Editar{
    display: none;
}


