@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --sombra-gris:rgba(0, 0, 0, 0.3);
    --color-negro: #000; 
    --color-blanco: #FFFFFF;
    --color-azul: #144deb;
    --color-gris: #808080;
    --color-menu-fondo: #0d6efd;
}

.container{
     justify-content: center;
     width: 100%;
     height: 100vh;
     padding: 10px;
     margin: 0 auto;
     text-align: center;
     font-family: "Stack Sans Text", sans-serif;
}


.titulo-login{
    margin-top: 120px;
}

.carta{
    margin: 0 auto;
    margin-top: 45px;
    border-radius: 10px;
    box-shadow: 0 8px 20px var(--sombra-gris);
    height: 540px;
    width: 400px;
    
}

.carta__titulo{
    padding: 14px;
    
}


.entrada_datos_login{
    text-align: left;
    padding: 20px;
}



.entrada_datos_login-nombre_de_documento{
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}


.entrada_datos_login-tipo_de_documento{
    width: 100%;
    height: 30px;
}

.divider{
    margin: 15px auto;
    background-color: var(--sombra-gris);
    height: 1px;
    width: 90%;
}


.texto_de_apoyo{
    font-size: 15px;
    display: block;
    margin: 0 auto;
    width: 300px;
    color: var(--sombra-gris);
}


.menuNavegacion{
    width: 100%;
    text-align: center;
    
    
}

.menuNavegacion__Lista{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: var(--color-blanco);
    border-radius: 25px;
    min-width: 20%;
    max-width: 30%;
    gap: 20px;
    margin: 30px auto;
    height: 40px;
    background-color: var(--color-menu-fondo);
}

.menuNavegacion__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 70%;
    border-radius: 15px;
    font-size: 20px;
    letter-spacing: 1px;
    
    
}

.menuNavegacion__item--menuSeleccionado{
    background-color: var(--color-blanco);
       color: var(--color-azul);
}



.menuNavegacion__item:hover{
       background-color: var(--color-blanco);
       color: var(--color-azul);
       cursor: pointer;
}

.menuNavegacion__item--submenu{
    font-size: 16px;
    width: 180px;
}



.menuNavegacion ul{
    padding: 0;
    
}

.menuNavegacion--submenu{
    display: none;
}

.titulo-formato{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.cabecero{
    display: flex;
    justify-content: space-around;
    gap: 40%;
    box-shadow: 0px 2px 10px var(--color-gris);
    height: 105px;
}
.InfoUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoUsuario__imagenEmpresa{
    width: 190px;
}

.Cuenta{
    display: flex;
    
    align-items: center;
    gap: 10px;
}


.Cuenta__imagen{
    width: 60px;
} 



.Cuenta__Divisor{
    height: 40px;
    border: 1px solid var(--color-negro);
    background-color: var(--color-negro);

}




.titulo-formato__tutorial{
    font-weight: bold;
}




.creacionNuevoTicket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 300px;
    margin: 60px auto;
    box-shadow: 0px 2px 10px var(--color-gris);
    border-radius: 15px;
    

}

.creacionNuevoTicket:hover{
    cursor: pointer;
}

.creacionNuevoTicket__imagen{
  width: 80px;
}

.creacionNuevoTicket__parrafo{
    margin-top: 20px;
    font-size: 15px;
    color: var(--color-menu-fondo);
}


.menuTickets{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(6px); 
    z-index: 9999; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.menuContenido{
    background-color: var(--color-blanco);
    width: 50%;
    height: 70%;
    position: relative;
    border-radius: 20px;
}


.menuContenido__Salirse{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 60px;
}

