{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Dishospital S.A.S</title>
</head>
<body>

    <header>
      <div class="cabecero">
      <div class="InfoUsuario">

       <div class="InfoUsuario__imagenEmpresa" >
          <img src="{% static 'images/dishospital.jpg' %}" class="InfoUsuario__imagenEmpresa">
       </div>

       <div class="InfoUsuario__datos">
       <h6>{{ datosUser.full_name }}</h6>
       <p>{{ Cargo }}</p>
       </div>

      </div>

      <div class="Cuenta">
         <img src="{% static 'images/masculino.png' %}" class="Cuenta__imagen">
      </div>

      </div>
    </header>

    <div class="titulo-formato">  
    <h1>DISHOSPITAL S.A.S</h1>
    <h5>SISTEMA DE FORMATOS</h5>
    <p class="titulo-formato__tutorial">Selecciona un modulo para continuar</p>
    </div> 
    
    <main>

      <div class="menuNavegacion">
      <ul class="menuNavegacion__Lista">

      {% for modulo in modulos %}
      <li class="menuNavegacion__item" onclick="mostrarSubmodulos('{{modulo.id}}')">{{ modulo }}</li>
      {% endfor %}
      </ul>
      </div>


      <div class="menuNavegacion menuNavegacion--submenu">
      <ul class="menuNavegacion__Lista   menuNavegacion__Lista--submenu">
      </ul>
      </div>
      
      <div class="contenidoDinamico">
         

      </div>
      

    </main>
     
     
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.5/dist/signature_pad.umd.min.js"></script>
    <script src="{% static 'js/main.js'  %}"></script>
    <script src="{% static 'js/manejo.js'  %}"></script>
</body>
</html>